name: Release Build

on:
  push:
    tags:
      - "v*"

# 添加权限配置
permissions:
  contents: write # 允许创建release和上传文件

jobs:
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        include:
          - os: windows-latest
            output_path: build/windows/x64/runner/Release
            asset_name: windows-release.zip
          - os: macos-latest
            output_path: build/macos/Build/Products/Release
            asset_name: macos-release.zip

    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.0"
          channel: "stable"

      - name: Disable Flutter analytics and confirm
        run: |
          flutter config --no-analytics
          flutter doctor --android-licenses
        continue-on-error: true

      - name: Configure Flutter
        shell: bash
        run: |
          mkdir -p $HOME/.flutter
          echo '{"analytics-enabled":false}' > $HOME/.flutter/settings

      - name: Get dependencies
        run: flutter pub get
        env:
          FLUTTER_DISABLE_ANALYTICS: true

      - name: Install Apple Certificate
        if: matrix.os == 'macos-latest'
        run: |
          # 创建钥匙串
          security create-keychain -p "" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain
          security set-keychain-settings -t 3600 -u build.keychain

      - name: Configure Xcode
        if: matrix.os == 'macos-latest'
        run: |
          # 允许任何开发者证书
          /usr/bin/xcodebuild -workspace macos/Runner.xcworkspace -scheme Runner -configuration Release CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO

      - name: Build for ${{ matrix.os }}
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            flutter build windows --release
          else
            flutter build macos --release --no-codesign
          fi
        shell: bash

      - name: Create Release ZIP
        run: |
          cd ${{ matrix.output_path }}
          7z a -tzip ../../../../../${{ matrix.asset_name }} *

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.asset_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
